body{
    background-color:#5b35c5;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    position: relative;
    bottom: 50px;
    color: aliceblue;

}
.main{
    background-color: #cac8c881;
    border-radius: 23px;
    height: 550px;
    width: 550px;
    text-align: center;
    box-shadow: 7px 7px 20px #ffffff5b ;
}

.name{
    font-size: 43px;
}

.about{
    margin: 23px;
    width: 500px;
    line-height: 2.4em;
}
.social{
    padding: 23px;
}
.fa-brands{
    margin: 23px;
    font-size: 34px;
    cursor: pointer;
    transition: all 0.8s;
}
.fa-brands:hover{
    border-radius: 50%;
    box-shadow: 1px 1px 15px white;
}